.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(252, 249, 245);
    border-radius: 10px; 
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; 
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    animation-name: hurt-box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes hurt-box {
    0% {box-shadow: rgb(224, 225, 225) 3px 3px 6px 0px inset, rgba(230, 229, 229, 0.5) -3px -3px 6px 1px inset;
        animation-timing-function: ease-in-out;
    }
    33% {box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
        width:100px;
        height: 100px;
        animation-timing-function: ease-in-out;
    }
    66% { 
        height: 600px;
        width: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        animation-timing-function: ease-in-out; 
    }
    100% {
        width: 1000px;
        height: 600px; 
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        animation-timing-function: ease-in-out;}

}

